/* Dasar Styling untuk Mobile */
body, #game-container {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Responsif untuk layar lebih kecil dari 768px (Tablet dan Ponsel) */
@media (max-width: 768px) {
    /* Atur ukuran dan posisi elemen game */
    #game-container {
        width: 100%;
        height: 100vh;
    }

    #mute-button {
        width: 35px;
        height: 35px;
        font-size: 18px;
        bottom: 20px;
        left: 15px;
    }

    #obstacle2 {
        width: 60px; /* Sesuaikan ukuran untuk layar kecil */
        height: 40px;
    }

    #dino {
        width: 40px;
        height: 40px;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    #cactus {
        width: 80px;
        height: 80px;
    }

    #score {
        font-size: 1.5rem; /* Ukuran font lebih kecil */
        top: 10px; /* Posisikan skor sedikit lebih tinggi */
    }

    #game-over-overlay {
        width: 70%;
        max-width: 350px;
        height: auto; /* Pastikan overlay tidak terlalu tinggi */
        padding: 20px; /* Tambahkan padding agar konten tidak menempel ke tepi */
        text-align: center; /* Rata tengah konten */
        display: flex; /* Gunakan flexbox untuk penataan */
        flex-direction: column; /* Atur arah kolom */
        justify-content: center; /* Pusatkan konten secara vertikal */
        align-items: center; /* Pusatkan konten secara horizontal */
    }

    #game-over-message h1 {
        font-size: 2rem;
    }

    #game-over-message p {
        font-size: 1.5rem;
    }

    #restart-button {
        font-size: 1.2rem;
        padding: 10px 20px;
    }

    .button a {
        font-size: 22px;
        padding: 10px 40px;
    }

    .social-icon {
        font-size: 1rem;
    }

    #game-title {
        width: 60%; /* Atur lebar menjadi 60% dari lebar kontainer */
        font-size: 2.5rem; /* Atur ukuran font sesuai kebutuhan */
        margin: 0 auto; /* Pusatkan gambar */
    }
}

/* Responsif untuk layar lebih kecil dari 480px (Ponsel) */
@media (max-width: 480px) {

    #mute-button {
        width: 30px;
        height: 30px;
        font-size: 16px;
        bottom: 15px;
        left: 10px;
    }

    #obstacle2 {
        width: 40px;
        height: 30px;
    }

    #dino {
        width: 20px;
        height: 20px;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    #cactus {
        width: 60px;
        height: 60px;
    }

    #score {
        font-size: 1.2rem;
        top: 10px;
    }

    #game-over-overlay {
        width: 70%;
        height: auto;
        padding: 20px;
        text-align: center;
    }

    #game-over-message h1 {
        font-size: 1.8rem;
    }

    #restart-button {
        font-size: 1rem;
        padding: 8px 16px;
    }

    #start-button a {
        font-size: 1.2rem;
        height: 35px;
        font-size: 12px;
    }

    #game-title {
        width: 70%; /* Atur lebar menjadi 70% dari lebar kontainer */
        font-size: 2rem; /* Atur ukuran font sesuai kebutuhan */
        margin: 0 auto; /* Pusatkan gambar */
    }

    #social-icon {
        font-size: 2rem; /* Ukuran ikon di layar besar */
    }  
}
